@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Noto Sans Arabic', sans-serif;
}
:root {
  --main-color: #6d3677;
  --secondery-color: #eab22b;
  --white: #fff;
}
body {
  background-color: #fafafa;
}
.go-adds {
  width: 100%;
  overflow: hidden;
}
/* End Sidebar */
.nav-mobail {
  display: none;
}
.sidebar {
  background-color: var(--main-color);
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
  position: relative;
}

.sidebar .logo {
  margin-bottom: 30px;
}
.sidebar .logo img {
  width: 60%;
  display: block;
  margin: auto;
}
.sidebar .navigation ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar .navigation ul li {
  color: var(--white);
  font-size: 19px;
  font-weight: 400;
  padding: 10px 10px;
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.sidebar .navigation ul li span {
  display: block;
  width: 60%;
  margin: auto;
}
.sidebar .navigation ul li i {
  font-size: 25px;
}
.sidebar .navigation ul li:hover {
  border-left-color: var(--white);
  padding-left: 20px;
}

.sidebar .search {
  width: 60%;
  margin: auto;
  background-color: var(--white);
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--main-color);
}
.sidebar .search i {
  width: 10%;
  margin-right: 5px;
}
.sidebar .search input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--main-color);
  font-weight: 500;
}
.sidebar .search input::placeholder {
  color: var(--main-color);
}

.go-btn {
  width: 60%;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  display: block;
  border: none;
  outline: none;
  background-color: var(--secondery-color);
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease;
}
.go-btn :hover {
  background-color: #d3a12d;
}
/* End Sidebar */

.posts {
  padding: 70px 0px;
}
.posts .post {
  border: 1px solid #707070;
  width: 100%;
  min-height: 500px;
  border-radius: 13px;
  padding: 25px 15px;
}
.posts .post .auth-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posts .post .auth-info a {
  text-decoration: none;
}
.posts .post .auth-info .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.posts .post .auth-info .info {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: flex-end;
  margin: 0 5px;
  color: var(--main-color);
}
.posts .post .auth-info .info p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 19px;
}
.posts .post .auth-info .info span {
  font-weight: 400;
}
.follow-btn {
  border-radius: 20px;
  padding: 10px 40px;
  display: block;
  border: none;
  outline: none;
  background-color: var(--secondery-color);
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease;
  height: auto;
}
.follow-btn:hover {
  background-color: #d3a12d;
}
.posts .post .post-title {
  color: var(--main-color);
  font-weight: 500;
}
.posts .post .post-img {
  overflow: hidden;
  background-color: #efefef;
  border-radius: 8px;
}
.posts .post .post-img img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 8px;
}

.posts .post .post-reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 10px 0;
}
.posts .post .post-reaction i {
  font-size: 25px;
  cursor: pointer;
  color: var(--main-color);
}
.posts .post .likes-count {
  color: var(--main-color);
}

.suggest {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  padding: 10px 5px;
}
.suggest .hashtag {
  background-color: #ccc;
  padding: 0px 20px;
  border-radius: 20px;
  margin-bottom: 8px;
  display: inline-block;
}
.suggest .accordion-item,
.accordion-header,
.accordion-button {
  border: none;
  background-color: #efefef;
  outline: none;
}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.accordion-button {
  font-size: 19px;
  font-weight: 500;
  color: var(--main-color);
}

.accordion-button:not(.collapsed) {
  background-color: #efefef;
  color: var(--main-color);
}
.suggest-acount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggest-acount img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.suggest-acount .info {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: flex-end;
  margin: 0 5px;
  color: var(--main-color);
}
.suggest-acount .info p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 19px;
}

.suggest-acount .info span {
  font-weight: 400;
}

.follow-btn2 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: block;
  border: none;
  outline: none;
  background-color: var(--secondery-color);
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-btn2:hover {
  background-color: #d3a12d;
}

.suggest .links a {
  color: #707070;
  text-decoration: none;
  display: inline-block;
}
.suggest .links a:hover {
  text-decoration: underline;
}
.suggest .copy-right p {
  color: #707070;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .go-adds .nav-mobail {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
  }
  .go-adds .nav-mobail svg {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  .go-adds .nav-mobail svg:hover {
    opacity: 1;
  }
  .posts {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm-d-n {
    display: none;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login img {
  width: 70%;
  display: block;
  margin: auto;
}
.login h1 {
  font-weight: 600;
  font-size: 60px;
  color: var(--secondery-color);
}
.login form {
  width: 70%;
  margin-bottom: 20px;
}
.login form a.forget {
  color: #6c757d;
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}
.login form label {
  color: #6c757d;
  cursor: pointer;
}
.login form .btn-warning {
  background-color: var(--secondery-color);
  border-color: var(--secondery-color);
  border-radius: 18px;
  padding: 10px;
  width: 70%;
}

.login .create-account {
  color: #6c757d;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.login .create-account span {
  color: var(--main-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.sign-up h1 {
  font-size: 50px;
}
.sign-up form label {
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.modal-content {
  border-color: #fff;
}

/* Start Profile */
.profile {
  padding: 80px 40px 40px 40px;
}
.profile .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .user-info .info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.profile .user-info .info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile .user-info .info .name {
  color: var(--main-color);
}
.profile .option .dropdown-toggle:focus {
  box-shadow: none;
}
.profile .option .dropdown-toggle::after {
  border: none;
}
.profile .option i {
  font-size: 1.5em;
  color: var(--main-color);
}
.followers-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding: 0 40px 0 40px;
}
.followers-info .followers {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 100px);
  color: var(--main-color);
  font-weight: 500;
  font-size: 19px;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.followers-info .followers:nth-of-type(2) {
  border-left: 1.5px solid #707070;
  border-right: 1.5px solid #707070;
}
.videos {
  padding: 0 40px;
}
.videos .video {
  margin-bottom: 10px;
}
.videos .video video {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 8px;
}
/* End Profile */
